body {
  font-size: 100%;
  background-size: 100%;
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}

/*--------------------------------------------MENU ICON BY HTML5 CANVAS--------------------------------------------*/

#menuIcon{
  position: fixed;
  z-index: 3;
  opacity: 0;
  /* overflow: hidden; */
}

canvas{
  width:100px;
  height:50px;
  /* border:1px solid black; */
  /* position: fixed; */
  /* top:10px; */
  /* left:10px; */
  /* opacity: 0.75 */
  /* -webkit-transform: scale(2); */
  /* background: red; */
}

/*--------------------------------------------LEFT TOP SIDE BY HTML5 CANVAS--------------------------------------------*/

#leftTop{
  display: none;
  position: absolute;
  width: 50%;
  height: 265px;
  left:0;
  /* margin: 0;
  padding: 0; */
  /* background: red; */
}
/*--------------------------------------------PAGE SLIDE TEST--------------------------------------------*/

article {
  position: absolute;
  width: 100vw;
  height: 750vh;
  top: 0;
  left: 0;
  /* background: blue; */
  overflow: hidden;
}

#leftPage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  background: yellow;
  overflow: scroll;
}

#homePage {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  /* background: black; */
  background: white;
  /* overflow: scroll; */
  /* color:white; */
  color: black;
  overflow: visible;
}

.showRightPage {
  -webkit-transform: translateX(-100vw);
  transition: ease all 1s;
}

.showHomePage {
  -webkit-transform: translateX(0);
  transition: ease all 1s;
}

.showLeftPage {
  -webkit-transform: translateX(100vw);
  transition: ease all 1s;
}


/*--------------------------------------------SCROLLTEST--------------------------------------------*/

#scrollDing {
  position: relative;
  margin-top: 1500px;
  z-index: 111;
  width: 25px;
  height: 25px;
  background: red;
}


/*--------------------------------------------SCROLLTEST--------------------------------------------*/

#squareBig {
  position: relative;
  width: 240px;
  height: 240px;
  /* background: red; */
  margin: 125px auto 0 auto;
  -webkit-transform: rotate(45deg) scale(0.9);
  /* -moz-transform: rotate(45deg) scale(0.9); */
  /* -ms-transform: rotate(45deg) scale(0.9); */
  /* -o-transform: rotate(45deg) scale(0.9); */
  /* transform: rotate(45deg) scale(0.9); */
  overflow: hidden;
}

#squareBig:before {
  /* display: none; */
  content: "";
  position: absolute;
  /* left: -22.5%; */
  /* top: -22.5%; */
  left: -22.5%;
  top: -22.5%;

  width: 350px;
  height: 350px;
  z-index: -1;
  background: url("../portfolio/42a449639a6ae8af7e9eae9f779dcdde--population-dolphins.jpg") no-repeat;

  border: 1px solid blue;
  background-size: 100%;
  background-position: center -5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squareLittle {
  position: absolute;
  width: 118px ; /*120px - 2px (excluding the border)*/
  height: 118px ; /*120px - 2px (excluding the border)*/
  /* background:  rgba(107,122,153,0.8); */
  background: rgba(0, 0, 0, 0.5);
  /* background:yellow; */
  /* background: rgba(255,255,255,0.25); */
  text-align: center;
  border: 1px solid white;
  overflow: hidden;
}

.squareLittle:not(:first-child):before {
  /* display: none; */
  content: "image";
  position: absolute;
  width: 350px;
  height: 350px;
  z-index: -1;
  background: url("../portfolio/42a449639a6ae8af7e9eae9f779dcdde--population-dolphins.jpg") no-repeat;

  /* background: rgba(255,255,255,0.2); */
  background-size: 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squareLittle:not(:first-child):hover {
  background: none;
  transition: ease all 0.5s;
  /* border: 1px solid white; */
  cursor: pointer;
}


/*  SQUARES WITHOUT SKEW?? (but look like it)*/

.squareLittle:first-child {
  top: 0;
  left: 0;
  background: none;
  border: none;
}

.squareLittle:first-child:before {}

.squareLittle:nth-child(2) {
  bottom: 0;
  left: 0;
  /* border-top: none; */
}

.squareLittle:nth-child(2):before {
  right: -177px;
  /*half of the squareBig + 2px border blue of #squareBig:before*/
  top: -177px;
  /*half of the squareBig + 2px border blue of #squareBig:before*/
}

.squareLittle:nth-child(3) {
  top: 0;
  right: 0;
  /* border-left: none; */
}

.squareLittle:nth-child(3):before {
  /* background-position: right right; */
  left: -177px;
  /*half of the squareBig + 2px border blue of #squareBig:before*/
  top: -57px;
  /*no theories here*/
}

.squareLittle:nth-child(4) {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
}

.squareLittle:nth-child(4):before {
  /* background-position: center bottom; */
  left: -177px;
  /*half of the squareBig + 2px border blue of #squareBig:before*/
  top: -177px;
  /*half of the squareBig + 2px border blue of #squareBig:before*/
}

.squareLittle p {
  position: absolute;
  /* top: 20%; */
  /* left: 35%; */
  color: lightgray;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* background: red; */
  width: 118px; /* 200px seems to take it to the exact middle of the squareLittle, 118px (squareLittle) slightly above so the text is centered*/
  height: 118px; /* 200px seems to take it to the exact middle of the squareLittle, 118px (squareLittle) slightly above so the text is centered*/
  /* margin: auto; */
  text-align: center;
  top: 25%;
  left: 25%;
  padding: 0;
  margin: 0;

  font-size: 1.1em;
}


/*-----------------------------------------------------HOMEPAGE----------------------------------------------------------*/
/*WHO IS?*/

#whois{
  opacity: 0;
  width: 100%;
  height: auto;
  margin-top: 190px;
}

#whois h1, #whois p{
  padding: 0 20px;
  text-align: center;
  /* font-weight: lighter; */
}


/*SKILLS*/

#skills{
  /* display: none; */
  width:100%;
  /* background: red; */
  text-align: center;
}

#skills h2{
  border-top:1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

#skills ul{
  width: 90%;
  padding: 0 20px;
  /* background: grey; */
}

#skills ul li{
  margin: auto;
  /* display: inline-block; */

  /* height:64px; */
  /* padding: 10px; */
  list-style: none;
  /* float: left; */
  /* text-align: center; */
  /* background: grey; */
  /* border: 1px solid black; */
  overflow: hidden;
}

#skills ul li img{
  /* max-width: ; */
  max-width: 40vw;

  vertical-align: middle;
  padding: 10px;
  margin: -5px 0 0 -10px; /*temporarily for the nounprojects with credits*/
}

/*CONTACT*/

/*-----------------------------EmailFORM--------------------------------------*/

#contact {
  /* display: none; */
  /* position: absolute; */
  z-index: 13;
  top: 0;
  width: 100%;
  height: 100vh;
  /*background: rgba(255,255,255,1);*/
  /*background: rgba(0,0,0,1);*/
  /* color: white; */
  margin: 0;
  padding: 0;
  /* overflow: scroll; */
  /*-webkit-overflow-scrolling:touch;*/
}

#contact h2{
  border-top:1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.emailForm {
  margin: 20px auto;
  width: 75%;
  text-align: left;
}

.emailForm input[type='text'] {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 10px auto 0px auto;
  padding: 10px;
  /* border: none; */
  font-size: 1em;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  /* outline: none; */
  /* border: 1px solid transparent; */
  /*font-family: 'Droid Serif', serif;*/
  /* font-family: 'Sedgwick Ave', cursive; */
  /* background: black; */
}


/*
 @media screen and (orientation:portrait) {
  .emailForm input[type='text'] {
    margin: 10px auto;
  }
}*/

.emailForm input:focus {
  border: 1px solid #382549;
}

.emailForm p {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 0 auto 0px auto;
  padding: 0;
  border: none;
  font-size: 1em;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  outline: none;
  border: 1px solid transparent;
}

.emailForm textarea {
  width: 100%;
  height: 10em;
  border: 2px inset rgba(233, 233, 233, 1);
  font-size: 1em;
  padding: 10px;
  /*font-family: 'Droid Serif', serif;*/
  /* font-family: 'Sedgwick Ave', cursive; */
}

.emailForm textarea:focus {
  outline: none;
  border: 2px inset rgba(180, 180, 180, 1);
}

.sendbtn {
  width: 100%;
  max-width: 450px;
  margin: auto;
  /*text-align: left;*/
}

.emailForm input[type='submit'] {
  position: relative;
  font-size: 1em;
  width: 25%;
  line-height: 20px;
  max-width: 136px;
  margin: 0;
  padding: 5px 0 0 0;
  background: black;
  color: white;
  font-weight: bold;
  /*border:1px solid white;*/
}

.closeresponse:hover {
  cursor: pointer;
}




/*LOGOBAR BOTTOM*/

@font-face {
    font-family: universe;
    src: url(../fonts/Universe.ttf);
}

.logobar{
  position: fixed;
  /* top:0; */
  bottom: 0;
  width:100vw;
  height: 50px;

  font-family: universe;

  background: white;
  color:black;
  text-align: center;
}

.logobar--top{
  top: 0;
}

.logobar--bottom{
  bottom: 0;
}

.logobar p{
  position: absolute;
  top:14px;
  left:12.5vw;
  width:75vw;
  font-size: 1.5em;
  margin:0;
  padding: 0;
  font-weight: bold
}


/*---------------------------------------------------------------------------RIGHTPAGE/PORTFOLIO---------------------------------------------------------------------------*/


#rightPage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100%;
  /* background: red; */

}

.website{
  position: relative;
  width: 100%;
  /* max-width:SOMETHING; */
  height: 450px;
  /* background: blue; */
  margin: 50px 0 0 0;
  padding: 0;
  /* background: rgba(0,0,0,0.35); */
  /* background: rgba(0,0,0,0.9); */
  /* background: red; */
}

.website__intro{
  position: relative;
  width: inherit;
  height: inherit;
}

.intro--euretos{
  background: rgba(128,128,128,0.7)
}

.intro__image{
  width: 100%;
  height: 200px;
  position: relative;
  margin-top: -27px;
  /* background: rgba(0,0,0,0.6); */
}

.image--amik{
  background: url("../portfolio/2 - circus frontflip_slide.jpg") no-repeat;
  background-size: 100%;
  border: 1px solid white;
  border-bottom: none;

}

.image--euretos{
  background: url("../portfolio/screenshot-euretos.png") no-repeat;
  background-size: 200%;
  background-position: 0 -50px;
  border: 1px solid black;
  border-bottom: none;
}


.intro__title{
  width: 100%;
  height: 75px;
  position: relative;
  z-index: 1;
  margin-top: 25px;

  text-align: center;
}

.title--dark{
  background: rgba(0,0,0,0.8);
  border: 1px solid white;
  color: white;
}

.title--light{
  background: rgba(255,255,255,0.8);
  border: 1px solid black;
}

.intro__text{
  width: 100%;
  /* height: 100px; */
  position: relative;
 /* top: 175px; */
 /* text-align: center; */
}

.text--dark{
  background: rgba(0,0,0,0.8);
  border: 1px solid white;
  color: white;
}

.text--light{
  background: rgba(255,255,255,0.4);
  border: 1px solid black;
}

.intro__p{
  padding: 10px;
}

.intro__text_square{
  position: absolute;
  z-index: 1;
  /* z-index: 17; */
  width: 32px;
  height: 32px;
  bottom:-16px;
  /* bottom: -36px; */
  /* left: -moz-calc(194px + 100vw / 2);
  left: -webkit-calc(194px + 100vw / 2);
  left: -o-calc(194px + 100vw / 2);
  left: calc(194px + 100vw / 2); */
  background: rgba(0,0,0,0.8);
  border: 1px solid white;

  /*color: white;*/
  text-align: center;
  /*border-radius: 50%;*/
  -webkit-transform: rotate(45deg);
  overflow: hidden;
}

.square--left{
  left: 40px;
}

.square--right{
  right: 40px;
}


.intro__languages{
  /* display: none; */
  position: relative;
  width: 100%;
  height: 50px;
  /* background: rgba(128,128,128,0.75);  /*USEFUL FOR ANOTHER?*/
  text-align: center;
}

.intro__languages--dark{
  background: rgba(0,0,0,1);
  color: white;
}

.intro__languages--light{
  background: rgba(255,255,255,0.75);
}

.intro__languages-p{
  height: 32px;
  margin: 0;
  padding: 9px;
  font-weight: bold;
}



/*NEXT PART OF LANGUAGES IS NOT USED FOR NOW*/
.intro__languages-ul{
  /* float:right; */
  /* width: calc(100%-75px); */
  height: inherit;
  margin: 0 0 0 100px;
  padding: 0;
  /* background: blue; */
}

.intro__languages-li{
  float:left;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  /* background: blue; */
}

.intro__languages-img{
  width: 24px;
  height:24px;
  padding: 13px;
}

/*POPUP*/
.popup{
  display: none;
  position: relative;
  margin-top: 100px;
}

.images__desktop{
  position: relative;
  width: 100vw;
  height:250px;
  margin: 0;
  padding: 0;
  /* background: blue; */
  /* overflow: hidden; */
}

.desktop__template{
  position: absolute;
  left: 5vw;
  width: 90vw;
  /* background: grey; */
}

.desktop__template-box{
  /* display: none; */
  position: absolute;
  top: 3.25vw;
  left: 16.25vw;
  width: 67.5vw;
  height:42.25vw;
  /* background: yellow; */
  overflow: hidden;
}

.desktop__template--scrollbox{
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  /* background: yellow; */
  overflow-y: scroll;
  padding-right:17px; /* Increase/decrease this value for cross-browser compatibility */
}

.desktop--scrollbox__img{
  /* display: none; */
  position: absolute;
  width:67.5vw;
}


.images__mobile{
  position: absolute;
  top: 15vw;
  right: 10px;
  width: 25vw;
  height:250px;
  /* margin: 0; */
  /* padding: 0; */
  /* background: red; */
}

.mobile__template{
  position: absolute;
  z-index: 1;
  left: 0vw;
  width: 20vw;
}

.mobile__template-box{
  /* display: none; */
  position: absolute;
  z-index: 2;
  top: 1vw;
  left: 1.25vw;
  width: 17.5vw;
  height:38vw;
  /* background: black; */
  overflow: hidden;
  border-radius: 10px;
}

.mobile__template--scrollbox{
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: black;
  overflow-y: scroll;
  padding-right:17px; /* Increase/decrease this value for cross-browser compatibility */
}
.mobile--scrollbox__img{
  /* display: none; */
  margin-top: 10px;
  position: absolute;
    width: 100%;
}

.website__description{

}

.description__images{

}

.description_text{
  padding: 0 20px;
}
