$color_1: white;
$color_2: black;
$color_3: lightgray;
$color_4: lightgrey;
$color_5: grey;
$font_family_1: 'Cairo', sans-serif;
$font_family_2: 'Wire One', sans-serif;
$font_family_3: universe; /*
::-webkit-scrollbar {
    display: none;
}
*/
/*--------------------------------------------MENU ICON BY HTML5 CANVAS--------------------------------------------*/
/*--------------------------------------------LEFT TOP SIDE BY HTML5 CANVAS--------------------------------------------*/
/*--------------------------------------------PAGE SLIDE TEST--------------------------------------------*/
/*--------------------------------------------SCROLLTEST--------------------------------------------*/
/*--------------------------------------------MENU--------------------------------------------*/
/*  SQUARES WITHOUT SKEW?? (but look like it)*/
/*-----------------------------------------------------LEFTPAGE----------------------------------------------------------*/
/*TODO: ZORGEN DAT LOGOBAR EEN STANDAARD MARGIN-BOTTOM HEEFT ZODAT DE CONTENT OP ZOWEL CV ALS PORTFOLIO OP GELIJKE HOOGTE BEGINT!! Dan hoeven de losse elementen dit niet*/
/*SKILLSET*/
/*vertical lines connecting*/
@keyframes slideDown {
  0% {
    /* top: -165px; */
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
  }

  100% {
    /* top : 75px; */
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
  }
}
/*PROFILE*/
/* 99786 */
/*EXPERIENCE*/
/*-----------------------------------------------------HOMEPAGE----------------------------------------------------------*/
/*WHO IS?*/
/*SKILLS*/
/*additional info*/
/*CONTACT*/
/*-----------------------------EmailFORM--------------------------------------*/
/*
.emailForm input[type='text'] {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 10px auto 0px auto;
  padding: 10px;
  font-size: 1em;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
}

.emailForm input:focus {
  border: 1px solid #382549;
} */
/* active state */
/* active state */
/*
.emailForm textarea {
  width: 100%;
  height: 10em;
  border: 2px inset rgba(233, 233, 233, 1);
  font-size: 1em;
  padding: 10px;
}

.emailForm textarea:focus {
  outline: none;
  border: 2px inset rgba(180, 180, 180, 1);
} */
/*LOGOBAR*/
@font-face {
  font-family: universe;
  src: url("../fonts/Universe.ttf");
}
/*---------------------------------------------------------------------------RIGHTPAGE/PORTFOLIO---------------------------------------------------------------------------*/
/*NEXT PART OF LANGUAGES IS NOT USED FOR NOW*/
/*POPUP*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  background-size: 100%;
  font-family: $font_family_1;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

#menuIcon {
  position: fixed;
  z-index: 3;
  opacity: 0;
}

canvas {
  width: 100px;
  height: 50px;
}

#leftTop {
  display: none;
  position: absolute;
  width: 50%;
  height: 265px;
  left: 0;
}

article {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

#leftPage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
}

#homePage {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: $color_1;
  color: $color_2;
}

#rightPage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;

  article {
    > .website {
      margin: 0;

      &~.website {
        margin: 25px 0;
      }
    }
  }
}

.showRightPage {
  -webkit-transform: translateX(-100vw);
  transition: ease all 1s;
}

.showHomePage {
  -webkit-transform: translateX(0);
  transition: ease all 1s;
}

.showLeftPage {
  -webkit-transform: translateX(100vw);
  transition: ease all 1s;
}

#scrollDing {
  position: relative;
  margin-top: 1500px;
  z-index: 111;
  width: 25px;
  height: 25px;
  background: red;
}

#squareBig {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 125px auto 0;
  -webkit-transform: rotate(45deg) scale(0.9);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: -22.5%;
    top: -22.5%;
    width: 350px;
    height: 350px;
    z-index: -1;
    border: 1px solid blue;
    background-size: 100%;
    background-position: center -5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.squareLittle {
  position: absolute;
  width: 118px;
  height: 118px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 1px solid white;
  overflow: hidden;

  &:not(:first-child) {
    &:before {
      content: "image";
      position: absolute;
      width: 350px;
      height: 350px;
      z-index: -1;
      background-size: 100%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:hover {
      background: none;
      transition: ease all 0.5s;
      cursor: pointer;
    }
  }

  &:first-child {
    top: 0;
    left: 0;
    background: none;
    border: none;
  }

  &:nth-child(2) {
    bottom: 0;
    left: 0;

    &:before {
      right: -177px;
      top: -177px;
    }
  }

  &:nth-child(3) {
    top: 0;
    right: 0;

    &:before {
      left: -177px;
      top: -57px;
    }
  }

  &:nth-child(4) {
    bottom: 0;
    right: 0;
    border-top: none;
    border-left: none;

    &:before {
      left: -177px;
      top: -177px;
    }
  }

  p {
    position: absolute;
    color: $color_3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 118px;
    height: 118px;
    text-align: center;
    top: 25%;
    left: 25%;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
  }
}

.cv-block {
  width: 100%;
  max-width: 649px;
  height: auto;
  margin: auto;
  text-align: center;
}

.cv-block--slider {
  position: relative;
  margin-top: 0;
  box-sizing: border-box;
  > p{
    padding: 0 20px;
  }
}

.cv__gradient {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 10px;
}

.gradient--top {
  top: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.gradient--bottom {
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.skillSlider {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 240px;
  background: red;
  overflow: hidden;
}

.skillSlide {
  display: flex;
  justify-content: center;
  width: calc(100% /3);
  height: 100%;
  background: white;

  &::before {
    content: "";
    width: 1px;
    height: 100%;
    background: black;
  }

  ul {
    position: absolute;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    animation-name: slideDown;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    li {
      position: relative;
      width: 40px;
      height: 40px;
      margin-bottom: 40px;
      list-style: none;
      text-align: center;

      > p {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 40px;
        height: 40px;
        font-size: 0.75em;
      }
    }
  }
}

.diamond {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  box-sizing: border-box;
  background: white;
  border: 1px solid black;

  p {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    font-size: 0.75em;
    background: blue;
    display: none;
  }
}

.diamond--dark {
  background: black;
  border: 4px double white;

  &~p {
    color: $color_1;
  }
}

.diamond--grey {
  background: grey;
  border: 4px double white;
}

.diamond--medium {
  transform: rotate(45deg) scale(1.25);
  -webkit-transform: rotate(45deg) scale(1.25);
}

.diamond--big {
  transform: rotate(45deg) scale(1.5);
  -webkit-transform: rotate(45deg) scale(1.5);
}

.profile {
  margin-top: 25px;
  padding: 20px;

  ul {
    display: inline-block;

    &:nth-of-type(1) {
      width: 45%;
      text-align: left;
    }

    li {
      list-style: none;

      > * {
        display: inline-block;
      }
    }
  }
}


.profile__bar {
  position: relative;
  width: 150px;
  height: 12px;
  border: 1px solid black;
  background: repeating-linear-gradient(to right, black 0%, grey 10%);
  -webkit-transform: skew(-45deg);

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    height: 14px;
    border: 1px solid white;
    background: white;
    right: -1px;
  }
}


.profile__progressbars {
  width: 50%;
  text-align: left;
  // background: blue;

  li {
    list-style: none;

    &:first-child{

      .profile__bar{

          &:after{
            width: 12px;
          }

      }
      // background: yellow;
    }

    &:nth-child(2){

      .profile__bar{

          &:after{
            width: 58px;
          }

      }
      // background: red;
    }

    &:nth-child(3){

      .profile__bar{

          &:after{
            width: 27px;
          }

      }
      // background: green;
    }

    &:nth-child(4){

      .profile__bar{

          &:after{
            width: 27px;
          }

      }
      // background: brown;
    }

    &:nth-child(5){

      .profile__bar{

          &:after{
            width: 12px;
          }

      }
      // background: purple;
    }
  }

}

.experience__block {
  width: 100%;
  height: 250px;
}

.experience__text {
  position: relative;
  width: 100%;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: 1px solid black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 40px;
    width: 1px;
    height: 150px;
    margin-right: 40px;
    background: black;
  }

  h4 {
    width: 75%;
    float: right;
  }

  h3 {
    width: 75%;
    float: right;
  }

  p {
    width: 75%;
    float: right;
  }
}

#whois {
  opacity: 0;
  width: 100%;
  height: auto;
  margin-top: 190px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
}

#skills {
  position: relative;
  width: 100%;
  height: 50vh;
  margin: 0 0 36px;
  padding: 0;

  > ul {
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 0;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
  }

  ul {
    ul {
      position: relative;
      width: 100%;
      height: 33%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    li {
      width: 20%;
      list-style: none;
      padding: 0;
      text-align: center;

      img {
        width: 100%;
        max-width: 75px;
        vertical-align: middle;
        margin: 0;
      }

      p {
        display: none;
      }
    }
  }
}

#whoisAdd {
  width: 100%;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
  background: rgba(0,0,0,0.9);
  color:white;
}

#contactForm {
  position: relative;
  z-index: 13;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;

  input {
    position: relative;
    width: 100%;
    height: 1.5em;
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
    transition: all 0.2s ease-in-out;
  }

  input[type="text"] {
    font-family: $font_family_2;
    font-size: 1em;
  }

  label {
    position: absolute;
    pointer-events: none;
    left: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    letter-spacing: 0;
    font-weight: normal;
  }

  textarea {
    width: 100%;
    margin-top: 25px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
    font-size: 0.94em;
    font-family: $font_family_2;
    outline: none;
  }

  button {
    position: relative;
    width: 13%;
    min-width: 75px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 20px;
    background: transparent;
    font-family: $font_family_2;
    font-size: 1em;

    &:hover {
      background: rgba(255, 255, 255, 0.25);
      cursor: pointer;
    }
  }
}

.emailForm {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  text-align: left;

  p {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 0;
    border: none;
    font-size: 1em;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    outline: none;
    border: 1px solid transparent;
  }

  input[type='submit'] {
    position: relative;
    font-size: 1em;
    width: 25%;
    line-height: 20px;
    max-width: 136px;
    margin: 0;
    padding: 5px 0 0;
    background: black;
    color: $color_1;
    font-weight: bold;
  }
}

.contactFormGroup {
  position: relative;
  width: 100%;
  height: 1.5em;
  margin: 48px auto 12px;
  font-size: 1em;
  text-align: center;
}

.input--label {
  top: -6px;
}

input {
  &:focus {
    &~label {
      margin-top: -22px;
      font-size: 0.9em;
      color: $color_4;
    }
  }

  &:valid {
    &~label {
      margin-top: -22px;
      font-size: 0.9em;
      color: $color_4;
    }
  }
}

.contactFormArea {
  position: relative;
  width: 100%;
  height: 4.5em;
  margin: 36px auto;
  font-size: 1em;
  text-align: center;
}

.textarea--label {
  top: 6px;
}

textarea {
  &:focus {
    &~label {
      margin-top: -22px;
      font-size: 0.9em;
      color: $color_5;
    }
  }

  &:valid {
    &~label {
      margin-top: -22px;
      font-size: 0.9em;
      color: $color_5;
    }
  }
}

.sendbtn {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.closeresponse {
  &:hover {
    cursor: pointer;
  }
}

.logobar {
  width: 100%;
  font-family: $font_family_3;
  background: white;
  color: $color_2;
  text-align: center;

  p {
    width: 75%;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    left: 12.5%;
    margin: 0;
  }
}

.logobar--top {
  position: absolute;
  z-index: 9;
  top: 0;
  border-bottom: 1px solid black;
  padding: 7px;
}

.logobar--bottom {
  position: fixed;
  top: 460px;
  padding: 0;
}

.portfolio__intro {
  position: fixed;
  z-index: 8;
  top: 0;
  background: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: scroll;
}

.portfolio__intro--slideUp {
  margin-top: -100vh;
}

.portfolio__intro_logo {
  opacity: 0.65;
  margin-top: 75px;

  &:hover {
    opacity: 0.5;
  }
}

.website {
  position: relative;
  width: 100%;
  height: 425px;
  padding: 0;
}

.website__intro {
  position: relative;
  width: inherit;
  height: inherit;
}

.intro__title {
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  box-sizing: border-box;
}

.intro__title_h1 {
  margin: 0;
  padding: 8px;
  vertical-align: middle;
}

.intro__title_img {
  padding: 12.5px;
  vertical-align: middle;
}

.title_img--amik {
  height: 40px;
}

.title_img--euretos {
  height: 30px;
}

.title--dark {
  background: rgba(0,0,0,0.85);
  border: 1px solid white;
  color: $color_1;
  height: 75px;
}

.title--light {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.intro__image {
  width: 100%;
  height: 200px;
  position: relative;
  box-sizing: border-box;
}

.image--amik {
  background: url("../portfolio/2 - circus frontflip_slide.jpg") no-repeat;
  background-size: 100%;
  border: 1px solid white;
  border-bottom: none;
  margin-top: -20px;
}

.image--euretos {
  background: url("../portfolio/screenshot-euretos_2.png") no-repeat;
  background-size: 150%;
  background-position: -85px -35px;
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
}

.intro__text {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.text--dark {
  background: rgba(0,0,0,0.8);
  border: 1px solid white;
  color: $color_1;
}

.text--light {
  background: rgba(255,255,255,0.4);
  border: 1px solid black;
}

.intro__p {
  margin: 0;
  padding: 16px 10px 24px;
}

.intro__text_square {
  position: absolute;
  z-index: 1;
  width: 32px;
  height: 32px;
  bottom: -16px;
  background: rgba(0,0,0,0.8);
  border: 1px solid white;
  text-align: center;
  -webkit-transform: rotate(45deg);
  overflow: hidden;
}

.square--left {
  left: 40px;
}

.square--right {
  right: 40px;
}

.intro__more {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

.intro__more--dark {
  background: rgba(0,0,0,1);
  color: $color_1;
}

.intro__more--light {
  background: rgba(0,0,0,0.1);
}

.intro__more-p {
  height: 32px;
  margin: 0;
  padding: 12px;
  font-size: 0.9em;
  font-weight: bold;
}

.intro__languages-ul {
  height: inherit;
  margin: 0 0 0 100px;
  padding: 0;
}

.intro__languages-li {
  float: left;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__languages-img {
  width: 24px;
  height: 24px;
  padding: 13px;
}

.popup {
  position: relative;
  z-index: 3;
  top: 0;
  width: 100%;
  margin-top: 25px;
  transition: ease all 1s;
  background: white;
  overflow: hidden;
}

.popup--offScreen {
  // height: 0;
  z-index: -1;
  opacity: 0;
}

.images__desktop {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
}

.desktop__template {
  position: absolute;
  left: 5vw;
  width: 90vw;
}

.desktop__template-box {
  position: absolute;
  top: 3.25vw;
  left: 16.25vw;
  width: 67.5vw;
  height: 42.25vw;
  overflow: hidden;
}

.desktop__template--scrollbox {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  padding-right: 17px;
}

.desktop--scrollbox__img {
  position: absolute;
  width: 67.5vw;
}

.images__mobile {
  position: absolute;
  top: 15vw;
  width: 25vw;
  height: 250px;
  transition: ease all 1s;
}

.mobile--offScreen {
  opacity: 0;
  right: -250px;
}

.mobile__template {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 20vw;
}

.mobile__template-box {
  position: absolute;
  z-index: 2;
  top: 1vw;
  left: 1.25vw;
  width: 17.5vw;
  height: 38vw;
  overflow: hidden;
  border-radius: 10px;
}

.mobile__template--scrollbox {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: black;
  overflow-y: scroll;
  padding-right: 17px;
}

.mobile--scrollbox__img {
  margin-top: 10px;
  position: absolute;
  width: 100%;
}

.description_text {
  padding: 0 20px;
}
